<header id="header">
    <!-- This div will contain information -->
    <div>

    </div>

    <!-- This div will contain image at absolute -->
    <div>

    </div>
</header>

<!-- This is workshop section -->
<article id="workshop" class="fluid-container">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg">
            <div class="work-container">
                <div>
                    <img src="../../../assets/car.png">
                </div>
                <div class="text-center">
                    <h3>Dealerships and Traders</h3>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg">
            <div class="work-container">
                <div>
                    <img src="../../../assets/car.png">
                </div>
                <div class="text-center">
                    <h3>Dealerships and Traders</h3>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- This is Events section -->
<article>
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-4">
            <div>
                <img>
            </div>
            <div class="text-center">
                <h3>Dealerships and Traders</h3>
                <p class="text-muted">
                    From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                </p>
                <button>Find out more</button>
            </div>
        </div>
    </div>
</article>

<!-- Achievement -->
<article>

</article>

<!-- About Blogs -->
<article>
    <div>
        <div>
            <img>
        </div>
        <div>
            <p></p>
            <button>Latest News</button>
        </div>
    </div>
</article>