<header id="header">
    <!-- This div will contain information -->
    <div>

    </div>

    <!-- This div will contain image at absolute -->
    <div>

    </div>
</header>

<!-- This is events Section -->
<article id="event">
    <div class="row no-gutters">
        <div class="col-12 col-md-4 col-lg">
            <div class="event-container">
                <div>
                    <img src="../../../assets/car.png" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h5>Dealerships and Traders</h5>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg">
            <div class="event-container">
                <div>
                    <img src="../../../assets/car.png" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h5>Dealerships and Traders</h5>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg">
            <div class="event-container">
                <div>
                    <img src="../../../assets/car.png" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h5>Dealerships and Traders</h5>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg">
            <div class="event-container">
                <div>
                    <img src="../../../assets/car.png" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h5>Dealerships and Traders</h5>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- This is workshop section -->
<article id="workshop">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg">
            <div class="work-container">
                <div>
                    <img src="../../../assets/car.png" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h3>Dealerships and Traders</h3>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg">
            <div class="work-container">
                <div>
                    <img src="../../../assets/car.png" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h3>Dealerships and Traders</h3>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg">
            <div class="work-container">
                <div>
                    <img src="../../../assets/car.png" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h3>Dealerships and Traders</h3>
                    <p class="text-muted">
                        From showrooms to sole agents, we have all the tools you need to take your business to the next level.
                    </p>
                    <button>Find out more</button>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- About -->
<article id="about">
    <div class="text-center">
        <h1>About Us</h1>
        <img src="../../../assets/about.svg" class="img-fluid">
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="about-box">
                <p class="text-muted">
                    Our vast expertise and thoroughly comprehensive data makes for a powerful combination. With a long history of vehicle specifications,
                    valuations, running cost data and provenance, it’s easy to see how we emerged as market leaders in the
                    field of automotive data.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="about-box">
                <p class="text-muted">
                    Our vast expertise and thoroughly comprehensive data makes for a powerful combination. With a long history of vehicle specifications,
                    valuations, running cost data and provenance, it’s easy to see how we emerged as market leaders in the
                    field of automotive data.
                </p>
            </div>
        </div>
    </div>
</article>

<!-- About news -->
<article id="news">
    <div>
        <div>
            <img src="../../../assets/latest_news.svg" class="img-fluid">
        </div>
        <div class="text-center">
            <p class="text-muted">Stay informed with sae akgec Extras – all the news, reviews and insights from the automotive industry.</p>
            <button>Latest News</button>
        </div>
    </div>
</article>