<div class="container" id="verify">
  <div class="row justify-content-center main">
    <div class="col-lg-7 col-md-9 col-12 align-self-center">
      <div class="panel">
        <div class="panel-head">
          <h4 class="text-center">Verify Your Email</h4>
          <hr>
          <p>We now need to verfiy your email address .We've sent an email to
            <span> {{email}} </span>to verify your address. Please click the link in that email to continue
          </p>
        </div>
        <div class="panel-body text-center" id="verifyEmailBody">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="verify-button-box" id="resendVerificationButton">
                <button class="btn btn-info" (click)="resendEmail()">Resend Verification Email</button>
              </div>
              <div class="verify-button-box" id="verifyResetEmailButton">
                <button class="btn btn-info" (click)="showForm()">Change your Address</button>
              </div>
              <div class="input-group verify-button-box hide" id="verifyResetEmail">
                <input type="text" class="form-control" placeholder="Email..." aria-label="Product name" #newEmail>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button" (click)="sendForm(newEmail.value)">Reset</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center hide" id="verifyEmailAlert">
          <div class="verify-alert-icon" id="verifyEmailAlertIcon">
            <i class="fa fa-check fa-2x"></i>
          </div>
          <div class="verify-alert-message" id="verifyEmailAlertMsg">
            <p>{{alertMsg}}</p>
          </div>
        </div>
        <div class="text-center spinner hide" id="spinner">
          <br><br>
          <i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>
          <br>
          <h4>Please Wait!</h4>
          <br><br><br> 
        </div>  
        <div class="panel-footer">
          <div class="text-right">
            <br>
            <button class="btn btn-secondary" (click)="logout()">Sign Out</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>