<div id="login-page">
    <div class="container">
        <form class="form-login" [formGroup]="registerForm">
            <h2 class="form-login-heading">sign up</h2>
            <div class="login-wrap">
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="first_name" />
                    <label class="label">First Name</label>
                    <label class="error"></label>
                </div>
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="last_name" />
                    <label class="label">Last Name</label>
                    <label class="error"></label>
                </div>
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="username"/>
                    <label class="label">User Name</label>
                    <label class="error"></label>
                </div>
                <div class="textBox">
                    <input class="text" type="textbox" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="email"/>
                    <label class="label">Email</label>
                    <label class="error"></label>
                </div>
                <div class="textBox">
                    <input class="text" type="password" onkeyup="this.setAttribute('value', this.value);" value="" formControlName="password"/>
                    <label class="label">Password</label>
                    <label class="error"></label>
                </div>
                <button class="btn btn-theme btn-block" type="submit" (click)="signup()">
                    <i class="fa fa-lock"></i> SIGN UP</button>
                <hr>
                <div class="registration text-center">
                    Already have an account?
                    <br>
                    <a  routerLink="../signin" routerLinkState="active">
                        Signin
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>