#workshops{
    background-position: center;
    background-size: cover;
}
#workshops .workshop-header{
    padding:100px 10px 50px 10px;
}
#workshops .workshop-header h3 span{
    font-weight: 400;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    color: #fff;
    font-weight: 600;
}

#workshops .workshop-body{
    padding-bottom: 100px;
}

#workshop .workshop-body a{
    text-decoration: none;
}
#workshops .workshop-body .inner-container{
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    
}
#workshops .workshop-body-header h3{
    padding: 80px 10px;
    color: #fff;
    font-weight: 600;
}

#workshops .workshop-body .inner-container:hover{
    opacity: 0.9; 
    cursor: pointer;
}
#workshops .workshop-body-footer{
    padding: 10px;
}
#workshops .workshop-body-footer p{
    font-size: 16px;
    height: 150px;
    font-weight: 400;
}
#workshops .workshop-body-footer h6{
    font-weight: 600;
}