<div id="navbar" class="">
    <nav class="navbar navbar-expand-md" id="inner-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-muted"><i class="fa fa-bars"></i> Menu</span>
        </button>
        <div class="justify-content-end order-md-2 order-1">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#questions"><i class="fa fa-user-o"></i>  Login in</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse order-md-1 order-2" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#service">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#whyus">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#whyus">Workshop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#questions">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div id="empty-navbar">

</div>