<div>
    <!-- This is header section -->
    <div id="header">
        <div class="">

        </div>
        <div class="text-center img-section" [ngStyle]="{'background-image': 'url('+contact_img+')'}">
            <h1>Contact Us</h1>
        </div>
    </div>

    <!-- This is form section -->
    <div id="contactForm">
        <div class="row no-gutters">
            <div class="col-12 col-lg-6 contact-left order-2 order-lg-1">
                <div class="row no-gutters justify-content-center">
                    <div class="col-11 col-md-10 col-lg-10">
                        <div class="contact-left-header">
                            <h3>Contact Us</h3>
                            <p>Send us a message or give us a call.</p>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters justify-content-center">
                    <div class="col-11 col-md-10 col-lg-10 contact-main">
                        <h6>Xxxxxxxx Xxxxx(Senior Head)</h6>
                        <p>Contact No:
                            <span>+91 9560779366</span>
                        </p>
                    </div>
                    <div class="col-11 col-md-10 col-lg-10 contact-main">
                        <h6>Xxxxxxxx Xxxxx(Senior Head)</h6>
                        <p>Contact No:
                            <span>+91 9560779366</span>
                        </p>
                    </div>
                    <div class="col-11 col-md-10 col-lg-10 contact-main">
                        <h6>Xxxxxxxx Xxxxx(Senior Head)</h6>
                        <p>Contact No:
                            <span>+91 9560779366</span>
                        </p>
                    </div>
                    <div class="col-11 col-md-10 col-lg-10 contact-main">
                        <h6>Xxxxxxxx Xxxxx(Senior Head)</h6>
                        <p>Contact No:
                            <span>+91 9560779366</span>
                        </p>
                    </div>
                    <div class="col-11 col-md-10 col-lg-10 contact-main">
                        <h6>Xxxxxxxx Xxxxx(Senior Head)</h6>
                        <p>Contact No:
                            <span>+91 9560779366</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <h3>Contact Form</h3>
                <p> How can we help you?</p>
                <p>All contact form fields are required.</p>
                <form class="row no-gutters">
                    <div class="col-12 col-md-10 col-lg-12">
                        <input type="text" name="name">
                    </div>
                    <div class="col-12 col-md-10 col-lg-12">
                        <input type="text" name="name">
                    </div>
                    <div class="col-12 col-md-10 col-lg-12">
                        <input type="text" name="name">
                    </div>
                    <div class="col-12 col-md-10 col-lg-12">
                        <input type="text" name="name">
                    </div>
                    <div class="col-12 col-md-10 col-lg-12">
                        <textarea></textarea>
                    </div>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 
     This is link section for carrer events acar and inovation 
    <div>

    </div> -->
</div>