<div *ngIf="workshop" id="workshop">
    <!-- Header  goes here -->
    <header id="header" [ngStyle]="{'background-image': 'url('+workshop.background_url+')'}">
        <div class="text-center">
            <h1 [ngStyle]="{'color': workshop.theme_color}">{{workshop.name}}</h1>
            <h4>Registration</h4>
            <p *ngIf="workshop.reg_status">{{workshop.reg_start_date}} to {{workshop.reg_end_date}}</p>
            <p *ngIf="!workshop.reg_status">Registration are closed!!</p>
            <div>
                <button (mouseover)="hover = true" (mouseout)="hover = false" [ngStyle]="hover
                        ?{
                            'border': '2px solid ' + workshop.theme_color,
                            'background':workshop.theme_color,
                            'color':'#fff'
                        }
                        :{
                            'border': '2px solid ' + workshop.theme_color,
                            'background': 'transparent',
                            'color': workshop.theme_color
                        }">Register Now</button>
            </div>
        </div>
    </header>

    <!-- Logo goes here -->
    <article id="logo">
        <div>
            <img src="{{workshop.logo_url}}" class="mx-auto d-block " [ngStyle]="{'border': '2px solid ' + workshop.theme_color}">
        </div>
    </article>

    <!-- Descriptions with date block goes here -->
    <article id="description">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-md-7 col-lg-8">
                <h3>Description</h3>
                <p class="text-muted">{{workshop.description}}</p>
            </div>
            <div class="col-12 col-sm-9 col-md-5 col-lg-4" class="date">
                <div class="date-container" [ngStyle]="{'border': '2px solid ' + workshop.theme_color}">
                    <h5 class="text-center" [ngStyle]="{'background': workshop.theme_color}">Important Dates</h5>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Registration Starts</strong>
                                </td>
                                <td>{{workshop.reg_start_date}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Registration Ends</strong>
                                </td>
                                <td>{{workshop.reg_end_date}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Workshop Starts</strong>
                                </td>
                                <td>{{workshop.start_date}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Workshop End</strong>
                                </td>
                                <td>{{workshop.end_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>

    <!-- Projects section goes here -->
    <article id="projects">
        <div *ngIf="workshop.projects">
            <h3 class="text-center">Projects</h3>
            <div *ngFor="let project of workshop.projects">
                <div class="row no-gutters justify-content-center equal">
                    <div class="col-12 col-md-5 col-lg-4 project-img" [ngStyle]="{'background-image': 'url('+project.img+')'}">
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 project-detail">
                        <h5>{{project.name}}</h5>
                        <p class="text-muted">{{project.tech}}</p>
                        <p>{{project.details}}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- Team section goes here -->
    <article id="team">
        <div *ngIf="workshop.organisers">
            <h3 class="text-center">Coordinators</h3>
            <div class="row no-gutters justify-content-center equal">
                <div *ngFor="let member of workshop.organisers" class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="team-container">
                        <div>
                            <img src="{{member.img}}" class="img-fluid">
                        </div>
                        <div class="text-center">
                            <h6 [ngStyle]="{'color': workshop.theme_color}">{{member.name}}</h6>
                            <p class="text-muted">Contact At: {{member.contact}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- Plans section Goes here -->
    <article id="plans">
        <div *ngIf="workshop.plans">
            <h3 class="text-center">Plans</h3>
            <div class="row no-gutters justify-content-center equal">
                <div *ngFor="let plan of workshop.plans" class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="plan-container" [ngStyle]="{'border': '2px solid ' + workshop.theme_color}">
                        <div class="text-center">
                            <p [ngStyle]="{'background': workshop.theme_color}">Team Limit : {{plan.team_limit}}</p>
                        </div>
                        <div class="plan-details text-center">
                            <h6 [ngStyle]="{'color': workshop.theme_color}"><i class="fa fa-inr fa-2x"></i> <span> {{plan.price}}</span></h6>
                            <h5 class="text-muted">{{plan.title}}</h5>
                            <div>
                                <p>{{plan.details}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button (mouseover)="hover = true" (mouseout)="hover = false" [ngStyle]="hover
                        ?{
                            'border': '2px solid ' + workshop.theme_color,
                            'background':workshop.theme_color,
                            'color':'#fff'
                        }
                        :{
                            'border': '2px solid ' + workshop.theme_color,
                            'background': 'transparent',
                            'color': workshop.theme_color
                        }">Register Now</button>
            </div>
        </div>
    </article>

    <!-- Faqs section Goes here -->
    <article id="faqs" [ngStyle]="{'background-image': 'url('+faqs_background+')'}">
        <div *ngIf="workshop.faqs">
            <h3 class="text-center">Faqs</h3>
            <div *ngFor="let faq of workshop.faqs; let j=index" class="row no-gutters">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="faq-container">
                        <h6>
                            <button class="text-center"(click)="btn = j">
                                <i class="fa fa-plus"></i>
                            </button>{{faq.question}}</h6>
                        <p [ngStyle]="btn ===j
                        ?{
                            'display': 'block'
                        }
                        :{
                            'display':'none'
                        }">{{faq.answer}}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>