#verify div.main{
    min-height: 100vh;
}
.panel{
    background: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #e6e2e2;
    box-shadow: 5px 10px 10px -2px rgba(0, 0, 0, 0.479);
}

.panel .panel-head p span{
    color: #f6a665;
}

.panel .panel-head h4{
    text-transform: uppercase;
    font-weight: 100;
}


.panel .panel-body .verify-button-box{
    padding: 10px;
}
.panel .panel-body .verify-button-box button{
    border-radius: 0px;
    width: 100%;
    background: #f6a665;
    text-transform: capitalize;
}
.panel .panel-body .verify-button-box button:hover{
    cursor: pointer;
}
.hide{
    display: none;
    -webkit-transition: all 1 ease-out;
    -moz-transition: all 1 ease-out;
    transition: all 1 ease-out;
}
.display{
    display: block;
    -webkit-transition: all 1 ease-in .5;
    -moz-transition: all 1 ease-in .5;
    transition: all 1 ease-in .5;
}

#verifyEmailAlert .verify-alert-icon{
    padding: 20px;
    color: #f0ad4e!important;
    font-size: 70px;
    transition: all 1s ease-in;
    -webkit-text-stroke: 20px #fff;
}

#verifyEmailAlert .verify-alert-error-icon{
    padding: 20px;
    color: #721c24!important;
    font-size: 70px;
    transition: all 1s ease-in;
    -webkit-text-stroke: 20px #fff;
}

#verifyEmailAlert .verify-alert-message{
    color: #28a745;
    font-size: 32px;
    -webkit-transition: all 1 ease-in 1;
    -moz-transition: all 1 ease-in 1;
    transition: all 1 ease-in 1;
}

#verifyEmailAlert .verify-alert-error-message{
    color: #721c24;
    font-size: 32px;
    -webkit-transition: all 1 ease-in 1;
    -moz-transition: all 1 ease-in 1;
    transition: all 1 ease-in 1;
}

.spinner{
    color: #f6a665;
    background-color: #fff;
}